/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Estilo para el cuerpo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #2a9d8f, #A8DADC); /* Cambiado a verde suave */
    color: #fff;
}

/* Contenedor principal */
#login-container, #register-container {
    background-color: #66e36a;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}



/* Título principal */
/* Estilo del título principal y subtítulo */
h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;  /* Espacio entre h1 y h2 */
    color: white;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    font-size: 1.8rem;  /* Un tamaño un poco más pequeño que el h1 */
    color: white;
    text-align: center;
    position: absolute;
    top: 15%;  /* Espaciado ajustado para estar debajo del h1 */
    left: 50%;
    transform: translateX(-50%);
}


/* Estilo para los formularios */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 1.1rem;
    text-align: left;
    color: #1d3557;
}

/* Estilo de los inputs */
input[type="text"],
input[type="password"] {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #f1faee;
    color: #1d3557;
    outline: none;
    transition: all 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.02);
}

/* Estilo de los botones */
button {
    padding: 10px;
    background-color: #e63946;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #f77f8e;
}

/* Links para cambiar entre login y registro */
a {
    color: #1d3557;
    text-decoration: none;
    font-size: 0.9rem;
}

a:hover {
    text-decoration: underline;
}

/* Para ajustar los contenedores y hacerlos más responsivos */
@media (max-width: 500px) {
    #login-container, #register-container {
        padding: 15px;
    }

    h1, h2 {
        font-size: 1.5rem;
    }

    input[type="text"],
    input[type="password"] {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
    }
}
